.nav {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px 5px rgba(128,128,128,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: white;
}

.nav-filler {
  height: 70px;
}

h1{
  color: rgba(97, 118, 71, 1);
}