.id{
    flex:1;
    margin-left: 4rem;
}

.patient{
    flex:2;
}

.doctor{
    flex:3;
}

.date{
    flex:4;
}

.diagnosis{
    flex:6;
}

.total{
    flex:2;
}

.box{
    flex:5;
}

.green-btn{
    background: rgb(97, 118, 71);
    border:none;
    border-radius: 15px;
    padding: 0.4rem 2rem;
    color: white;
    box-shadow: 0 3px 3px 3px rgba(128,128,128,0.3);
    cursor:pointer;
}

input,select{
    border-radius: 10px;
    border-color: rgba(67, 89, 40, 0.878);
}

.modal{
    width: 25rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.3);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.x-btn{
    position: relative;
    left:12rem;
    background-color: rgb(97, 118, 71);
    border-radius: 10px;
    border-color:rgba(97, 118, 71, 0.052) ;
    color:white;
}
